@model ecoles_informatiques.Models.ViewModels.SchoolEnumerationViewModel

@{
    ViewData["Title"] = "Liste des écoles";
}

<div class="text-center">
    <h1>Liste des écoles d'informatique à Laval (53)</h1>
    <form id="search" action="#" method="get">
        <input type="text" name="search" placeholder="Rechercher..."/>
        <input type="submit"/>
    </form>
    <table class="table table-striped mt-4">
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Ville</th>
        </tr>
        @foreach (var school in Model.Schools)
        {
            <tr>
                <td>@school.Name</td>
                <td>@school.Address</td>
                <td>school.City</td>
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script src="js/schoolsSearch.js" defer></script>
}
