@model Formation

@{
    ViewData["Title"] = "Liste des Formations";
}

<div class="text-center">
    <h1>Liste des Formations</h1>
    <ul>
        @foreach (string Name in Model)
        {
            <li>@Name</li>
        }
    </ul>
</div>