@using System;
@using System.IO;

@{
    ViewData["Title"] = "Admin Accueil";
}

<div>
    <h1 class="display-4 text-center">Admin Accueil</h1>
    <div>
        <form method="post">
            <p>Changer le texte :</p>

            <div class="form-group">
                <textarea class="form-control" name="text" rows="1"></textarea>
            </div>

            <br />


            @{
                string folderPath = @"wwwroot\img";

                if (Directory.Exists(folderPath))
                {
                    string[] files = Directory.GetFiles(folderPath);

                    if (files != null)
                    {

                        <select>

                            @foreach (string file in files)
                            {
                                string fileName = System.IO.Path.GetFileName(file);

                                <option>@fileName</option>
                            }

                        </select>

                        <br />
                    }
                }
            }

            <br />

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>

        <br />


    </div>
</div>
