@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Apprenez en plus sur les écoles !</p>
    <img src="img\ecole informatique.jpg" />
</div>
